* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#screen {
  width: 100%;
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  font-size: 2cqw;
  container-type: inline-size;
  height: 100vh;
}

#liv {
  position: absolute;
  top: 0%;
  left: 7.2%;
  font-family: "solvent";
  font-style: normal;
  color: #c2a0a7;
  -webkit-text-stroke: 0.3px #000000;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 4rem;
}

#point {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "solvent";
  font-style: normal;
  color: #c2a0a7;
  -webkit-text-stroke: 0.3px #000000;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 4rem;
}

#start {
  width: 100%;
  height: 101%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(svg/grafik_start_screen.svg);
  background-size: cover;
  z-index: 1000;
}

#startknap_container {
  position: absolute;
  aspect-ratio: 71.9856/40.7919;
  width: 5%;
  top: 59%;
  left: 47.5%;
  cursor: pointer;
}

#start_knap {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik_start_knap.svg);
  animation-name: pulse_kf;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_kf {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.2;
  }
}
#game_over {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url(svg/gameoveroglevelcomplete_forgrund-25.svg);
  background-size: cover;
}
#level_complete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-image: url(svg/gameoveroglevelcomplete_forgrund-24.svg);
  background-size: cover;
}

#start_txt {
  font-size: 5cqw;
}
#game_over_points {
  position: absolute;
  font-size: 2cqw;
  top: 60%;
  left: 37%;
  width: 25%;
  text-align: center;
}
#level_complete_points {
  position: absolute;
  font-size: 2cqw;
  top: 81%;
  left: 37%;
  width: 25%;
  text-align: center;
}

#restart1,
#restart2 {
  border: black solid 2px;
  position: absolute;
  bottom: 14%;
  right: 6%;
  cursor: pointer;
  font-size: 2cqw;
  animation-name: pulse_kf;
  animation-duration: 0.7s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#game_background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(svg/baggrunden_spille_baggrund.svg);
}

.hide {
  display: none;
}

#game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#game_foreground {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(svg/grafik_forgrund.svg);
  pointer-events: none;
}

#game_ui {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#timer_container {
  width: 10%;
  aspect-ratio: 127.0037/69.0056;
  position: absolute;
  left: 85%;
  top: 2%;
}

#timer_baggrund {
  background-image: url(svg/tidsramme.svg);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

#timer_fyld {
  background-image: url(svg/tidfyld.svg);
  background-size: cover;
  width: 80%;
  height: 65%;
  position: absolute;
  top: 30%;
  left: 2%;
}

#good_container1,
#good_container2 {
  width: 8%;
  aspect-ratio: 230/330;
  position: absolute;
  top: -20%;
}

#good_sprite1,
#good_sprite2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik_vest_good_element.svg);
}

#bad_container1 {
  width: 8%;
  aspect-ratio: 253/330;
  position: absolute;
  top: -20%;
}

#bad_sprite1 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik-18.svg);
}
#bad_container2 {
  width: 8%;
  aspect-ratio: 200/330;
  position: absolute;
  top: -20%;
}

#bad_sprite2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik_tshirt_bad_element.svg);
}

#bad_container3 {
  width: 8%;
  aspect-ratio: 253/330;
  position: absolute;
  top: -20%;
}

#bad_sprite3 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik_top_bad_element.svg);
}

#bad_container4 {
  width: 8%;
  aspect-ratio: 230/330;
  position: absolute;
  top: -20%;
}

#bad_sprite4 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik-19.svg);
}

#liv_container {
  width: 3%;
  aspect-ratio: 58/51.5;
  position: absolute;
  top: 3%;
  left: 3%;
}

#liv_sprite {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(svg/grafik_et_liv.svg);
}
#snak {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(svg/snak_screen.svg);
  background-size: cover;
}
#snak1 {
  position: absolute;
  top: 34%;
  left: 36%;
  width: 21%;
  background-image: url(svg/grafik_velkommen_bobbel.svg);
  background-size: cover;
  aspect-ratio: 230/200;
}
#snak2 {
  position: absolute;
  top: 28%;
  left: 35%;
  width: 22%;
  background-image: url(svg/grafik_kundensnakker_bobbel.svg);
  background-size: cover;
  aspect-ratio: 330/260;
}
#snak3 {
  position: absolute;
  top: 36%;
  left: 34%;
  width: 24%;
  background-image: url(svg/grafik_kundensoenske_bobbel.svg);
  background-size: cover;
  aspect-ratio: 485/280;
}

.snak1_ani {
  animation-name: snak1_kf;
  animation-duration: 2s;
  animation-fill-mode: both;
}
@keyframes snak1_kf {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.snak2_ani {
  animation-name: snak2_kf;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
@keyframes snak2_kf {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.snak3_ani {
  animation-name: snak3_kf;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: both;
}
@keyframes snak3_kf {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.falling {
  animation-name: falling_kf;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
@keyframes falling_kf {
  100% {
    translate: 0 700%;
  }
}

.pos1 {
  left: 15%;
}

.pos2 {
  left: 35%;
}
.pos3 {
  left: 45%;
}

.pos4 {
  left: 65%;
}

.pos5 {
  left: 85%;
}

.delay1 {
  animation-delay: 0s;
}

.delay2 {
  animation-delay: 0.5s;
}

.delay3 {
  animation-delay: 1s;
}

.delay4 {
  animation-delay: 1.5s;
}

.timer_ani {
  animation-name: timer_ani_kf;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes timer_ani_kf {
  0% {
    clip-path: inset(0 0 0);
  }
  100% {
    clip-path: inset(0 0 0 100%);
  }
}

.forsvind {
  animation-name: forsvind_kf;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes forsvind_kf {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.frys {
  animation-play-state: paused;
  animation-fill-mode: both;
}

.dreje {
  animation-name: dreje_kf;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes dreje_kf {
  100% {
    rotate: 360deg;
  }
}

.zoom_out {
  animation-name: zoom_out_kf;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes zoom_out_kf {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.haha {
  animation-name: haha_kf;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes haha_kf {
  25% {
    scale: 1.2;
  }
  100% {
    rotate: 720deg;
    scale: 0;
  }
}
